.container-register {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .col-box-logo {
        padding-left: 0;
        padding-right: 0;
    }

    .box-logo {
        position: relative;
        height: 100vh;
        width: 100%;
        background-color: #ecf0f0;
        border: none !important;

        @media(max-width: 760px) {
            display: none;
        }

        img.logo {
            display: block;
            max-width: 400px;
            top: 30vh;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            cursor: pointer;
        }
    }

    .box-register {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        margin-top: 27vh;

        @media(max-width: 850px) {
            margin-top: 20%;
            max-width: 70%;
        }

        img.logo-mobile {
            display: none;

            @media(max-width: 760px) {
                display: block;
                max-width: 150px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
            }
        }

        h4 {
            @media(max-width: 760px) {
                display: none;
            }
        }

        .input-group-text {
            border-radius: 0.35rem 0 0 0.35rem !important;
        }

        .box-instituicoes-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;

            img {
                max-width: 115px;
                margin: 0px 30px;
            }
        }
    }
}

