<div class="container-fluid">
    <div class="d-flex justify-content-center flex-column align-items-center main-block">
        <h1 class="h3 mb-4 text-gray-800 text-center my-3">
            <div>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
            Página não encontrada</h1>
        <button class="btn btn-primary my-3" (click)="onClickHomePageButton()">
            <i class="fa fa-home" aria-hidden="true"></i>
            Página inicial
        </button>
    </div>
</div>