/* You can add global styles to this file, and also import other style files */

.text-dark-blue{
    color: #332885 !important;
}

.dark-blue {
    background-color: #332885;
    border-color: #332885;
    outline: none;
}